@model IEnumerable<CPH_IVT.Models.State>

@{
    ViewData["Title"] = "Select a State";
}

<h1>Select a State First</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIPS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-route-id="@item.FIPS" asp-action="counties">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIPS)
            </td>
        </tr>
}
    </tbody>
</table>
